/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
}
body{
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color: var(--white);
    color: var(--white);
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,p,ul,ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #222;
}
button, input{
    padding: 0;
    background: none;
    border: 0;
}

/* VARIABLES */
:root{
    color-scheme: light dark; 
    --dark-blue: rgba(21,47, 70, 100);
    --blue: rgba(43, 77, 105, 100);
    --white: rgba(255, 255, 255, 100);
    --white-50-alpha: rgba(255, 255, 255, 0.5);
    --white-10-alpha: rgba(255, 255, 255, 0.1);
    --white-5-alpha: rgba(255, 255, 255, 0.05);
    --black: rgba(0, 0, 0, 100);
    --black-10-alpha: rgba(0, 0, 0, 0.1);
    --black-5-alpha: rgba(0, 0, 0, 0.05);
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    background-color: var(--dark-blue);
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.logo-header {
    width: 4rem;
    height: 4rem;
}

.logo {
    width: 6rem;
    height: 6rem;
}
.identity-picture {
    width: 17.5rem;
}

