/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html{
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
}
body{
    margin: 0;
    line-height: 1.6;
    letter-spacing: .1rem;
    background-color: var(--white);
    color: var(--white);
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,p,ul,ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
}
a{
    text-decoration: none;
    color: #222;
}
button, input{
    padding: 0;
    background: none;
    border: 0;
}

/* VARIABLES */
:root{
    color-scheme: light dark; 
    --dark-blue: rgba(21,47, 70, 100);
    --blue: rgba(43, 77, 105, 100);
    --white: rgba(255, 255, 255, 100);
    --white-50-alpha: rgba(255, 255, 255, 0.5);
    --white-10-alpha: rgba(255, 255, 255, 0.1);
    --white-5-alpha: rgba(255, 255, 255, 0.05);
    --black: rgba(0, 0, 0, 100);
    --black-10-alpha: rgba(0, 0, 0, 0.1);
    --black-5-alpha: rgba(0, 0, 0, 0.05);
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    background-color: var(--dark-blue);
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.logo-header {
    width: 4rem;
    height: 4rem;
}

.logo {
    width: 6rem;
    height: 6rem;
}
.identity-picture {
    width: 17.5rem;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

/* SECTION */

.main-section {
    background: url(../asset/Background-welcome.png), lightgray 100% / cover no-repeat;
    height: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.block {
    display: flex;
    height: 100rem;
    padding: 10rem 30rem;
    border-radius: 5rem;
    border: 0.5rem solid var(--dark-blue);
    background: var(--blue); 
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 3rem; 
    background-color: var(--dark-blue);
}

.title {
    display: flex;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border-radius: 1rem; 
    background: var(--Blue, #2B4D69); 
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; 
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.labels {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.about-me-content {
    display: flex;
    width: 58.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.info-content {
    display: flex;
    padding: 1.6rem;
    align-items: center;
    gap: 1.6rem;
    align-self: stretch;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--white); 
}

.info-content-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 10px; 
    background-color: var(--white);
}

.info-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    flex: 1 0 0;
}

.achievement-content-container {
    display: flex;
    height: 33.6rem;
    padding: 2rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 4rem; 
}

.achievement-content {
    display: flex;
    width: 25rem;
    padding: 1.2rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--white);
}

